
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,600;1,400&display=swap');

:root{
    --color-black: #020403;
    --color-gris: #ADADAD;
    --color-blanco: #FFFFFF;
    --color-fondo: #1d1617;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--color-black);
    font-family: 'Rubic', sans-serif;
    color: var(--color-blanco);
}
/* MENU */
.contenedor-header{
    padding: 1rem;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-size: 20px;
    color: var(--color-gris);
    text-decoration: none;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    font-size: 18px;
    text-align: none;
    color: #fff;
    margin: 5px 15px;
    padding: 10px 15px;
    transition: .5s;
    text-decoration: none;

}
.contenedor-header header nav ul li a:hover{
    background-color: var(--color-fondo);
    transition: ease-in .3s;
}

.nav-responsive{
    background-color:var(--color-black);
    color:#fff;
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    display: none;
}
/*---- main ------*/
.main{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
/* ------- HOME SECTION ---------*/
.main .home_section{
    margin: 0 auto;
    width: 90vw;
    display: flex;
    align-items: end;
}

.home_section .home-contenido{
    margin: auto;
    text-align: center;
}

.home-contenido .info-content h2{
    color: var(--color-gris);
    /*margin-top: 30px;*/
    font-size: 30px;
}

.home-contenido .info-content h1{   
    font-size: 50px;
}

.home-contenido .home-img img{
    width: 336px;
    height: 388px;
    border-radius: 20px;
    padding: .5rem;
}
.home-redes{
    display: flex;
    justify-content: space-evenly;

}

.home-redes .redes a{
    color: var(--color-blanco);
    width: 100px;
    height: 20px;
    padding: 1.5rem;
}

/*  ABOUT ME*/
.main .aboutme_section{
    margin: 0 auto;
    padding: 30px 20px 5px 20px;
    /*
    width: 90vw;
    display: flex;
    flex-direction: column-reverse;
    align-items: end;*/
}

.aboutme_section .aboutme-contenido{
    max-width: 1200px;
    margin: auto;
}
.aboutme-contenido .aboutme_h2{
    font-size: 30px;
    text-align: center;
    padding: 10px 0;
}

.aboutme-contenido p{
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

/* ---------- SKILLS ---------*/
.main .skills_section{
    position: relative;
    width: inherit;
    padding-top: 2rem;
    padding-bottom: 2rem;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.skills-contenido h3{
    font-size: 30px;
    text-align: center;
    padding: 5px 0px 20px 0px;
}

.skills-contenido .cont-skills{
    display: grid;
    flex-flow: row;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    row-gap: 2rem;
    margin: auto;
}

.skills-contenido .cont-skills .skills{
    display: flex;
    flex-direction: column;
    /* height: 5rem; */
    align-items: center;
    justify-content: space-around;
    
}
.skills-contenido .cont-skills .skills a{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    background-color: var(--color-fondo);
    text-decoration: none;
    border: 1px solid var(--color-fondo);
    border-radius: 100%;
    width: 90px;
    height: 90px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.cont-skills .skills a:hover{
    background-color:  #5e5e5e;
}
.skills-contenido .cont-skills .skills span{
    font-size: 18px;
    width: inherit;
}
.experiencia-contenido h3{
    font-size: 30px;
    text-align: center;
    padding: 5px 0px 20px 0px;
}

/*------- PORTAFOLIO--------*/
.portafolio_section h3{
    font-size: 30px;
    text-align: center;
    padding: 5px 0px 20px 0px;
}
.portafolio_section .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portafolio_section .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
.portafolio_section .galeria .proyecto img{
    width: 100%;
    display: block;
}
.portafolio_section .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(28,182,152,.8), rgba(28,182,152,.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
/* -------CONTACTOS--------*/

.main .contacts_container{
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.contact_section h3{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 5px 0px 20px 0px;
}
.contact_section .contact-contenido{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-contenido .contacts_container{
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 1rem 3rem 1rem 3rem;
    /* height: 5rem; */
    
}
.contact_section .contacts_container a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-blanco);
    text-decoration: none;
    border: 1px solid var(--color-blanco);
    border-radius: 100%;
    line-height: 42px;
    margin: 30px 30px;
    font-size: 20px;
    transition: .3s;
}
.contacts_container i{
    padding: 1.5rem;
}

.contacts_container a:hover{
    background-color: var(--color-fondo);
}
.skills-contenido .cont-skills .skills span{
    font-size: 18px;
    width: inherit;
    font-weight: bold;
}
footer {
    font-size: 0.8rem;
    margin-bottom: 2rem;
}
footer>p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* Responsive*/

@media screen and (max-width:930px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
    @media screen and (max-width:750px){

        .skills_section .cont-skills{
            display: block;
        }
        .skills_section .cont-skills .skills{
            width: 100%;
        }
        .skills_section .cont-skills .skills span{
            width: fit-content;
        }
        
        .curriculum .fila{
            display: block;
        }
        .curriculum .fila .col{
            width: 90%;
        }
        .curriculum .fila .derecha{
            margin-left: 20px;
        }
    
        .portafolio_section .div-portafolio{
            display: block;
            width: 100%;
        }
        .portafolio_section h3{
            text-align: left;
            padding-left: 2rem;
        }
        .portfolio .galeria .proyecto{
            max-width: 100%;
        }
        .portfolio .galeria .proyecto img{
            width: 100%;
        }
        .contact_section h3{
            text-align: left;
            padding-left: 2rem;
        }
    }
}